// bower:js
script(src='/lib/modernizr/modernizr.js')
script(src='/lib/jquery/dist/jquery.js')
script(src='/lib/angular/angular.js')
script(src='/lib/fastclick/lib/fastclick.js')
script(src='/lib/jquery.cookie/jquery.cookie.js')
script(src='/lib/jquery-placeholder/jquery.placeholder.js')
script(src='/lib/foundation/js/foundation.js')
script(src='/lib/papa-parse/papaparse.js')
// endbower
